@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
}

/* navigation bar start */

.navbar {
    width: 100%;
    margin: 10px 0;
}

.navbar_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}

.nav_tag {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.myname {
    color: black;
}

#talktome {
    border: solid 2px black;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgb(88, 88, 88); 
    transition: box-shadow 0.3s ease; 
}

#talktome:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    /* background-color: gray;
    color: black;
    border: none; */

    /* Increases shadow on hover */
}

#home,
#about,
#contact {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: medium;
    display: flex;
    align-items: center;
}

#contact:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;
}

#about:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;
}

#home:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;

}

.body_container {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: grid;
}

/* Navigation bar end */

#Recipes {
    display: flex;
    max-width: 83%;
    margin: 3rem auto; /* Adds vertical spacing around #Recipes */
    flex-direction: row;
    font-size: larger;
}

/* main container start */ 
.main_container {
    display: grid;
    row-gap: 1.3rem;
    column-gap: 1.3rem;
    grid-template-columns: repeat(3, 2fr);
    max-width: 89%;
    margin: 3rem auto; /* Adds space above and below the main container */
}


.card_container {
    display: flex;
    border: 1px solid rgb(201, 201, 201);
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    height: 350px;
    width: 350px;
    transition: transform 0.3s ease; 
    /* Adjust this value to set the desired card height */
}

.card_container:hover{
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(83, 83, 83, 0.5);
}

.card_img_container {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.card_image {   
    position: absolute;         /* IMPORTANT FOR FIT AN IMAGE */
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* main container end */

/* Stoty telling start */
.storytelling{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    line-height: 1.5rem;
    color: rgb(113, 113, 113);
    font-size: medium;
    font-weight: 400;
}
/* Storytelling end */

/* footer start */

.footer_container {
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 5rem;
    margin-top: 5rem;
}

.footer_box {
    display: flex;
    max-width: 90%;
    margin: 0px auto;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.footer_right_box {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.quick_access {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stay_connected {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_left_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_image_box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#p1,
#p2 {
    font-size: small;
    color: rgb(111, 111, 111);
}

#fhome,
#fabout,
#fcontact,
#ftalktome {
    font-size: small;
    color: rgb(111, 111, 111);
}

#flegal1,
#flegal2,
#flegal3,
#flegal4 {
    font-size: small;
    color: rgb(111, 111, 111);
}

/* footer end */


/* Responsive start */

@media only screen and (max-width: 768px){    /* I pad */
    /* footer */
    .footer_box{
        flex-direction: column;
        justify-content: left;
        align-items: center;
        justify-content: center;

    }
    /* .footer_container {          
        padding: 3.5rem 1.3px;     /* padding(y axis x axis) */

    /* } */
  
    .footer_right_box{
        flex-direction: column;
        gap: 40px;
    }
    .footer_box{
        gap: 40px;
    }
    .quick_access, .stay_connected, .legal{
        align-items: center;
        justify-content: center;
    }
    .footer_left_box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_left_box, #p1, #p2{
        text-align:center;
    }
    .storytelling{
        line-height: 1.3rem;
        font-size:medium;
        font-weight: 300;
        max-width: 90%;
    }

}

@media only screen and (max-width: 480px){   /* Mobile*/

}
/* Responsive end */