@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* navigation bar start */

.navbar {
    width: 100%;
    margin: 10px 0;
}

.navbar_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}

.nav_tag {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.myname {
    color: black;
}

#talktome {
    border: solid 2px black;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgb(88, 88, 88);
    transition: box-shadow 0.3s ease;
}

#talktome:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    /* Increases shadow on hover */
    /* background-color: rgb(72, 72, 72); */

}

#home,
#about,
#contact {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: medium;
    display: flex;
    align-items: center;
}

#contact:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;
}

#about:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;
}

#home:hover {
    color: rgb(111, 111, 111);
    transform: scale(1.1);
    transition-duration: 2ms;

}

.body_container {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.header {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

#headertitle {
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

#paragraph {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(58, 58, 58);
    max-width: 85%;
    margin: 1rem auto;
}

/* Navigation bar end */


/* Newsletter start */
.newsletter_container {
    height: 500px;
    max-width: 90%;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 3rem
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 90%;
    width: 50%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 20px;
    padding: 10px;
}

#freelancing{
    text-align: center;
    color: gray;
    line-height: 1.5rem;
    margin: 10px;
}

.image_container {
    /* background-color: beige; */
    height: 90%;
    width: 30%;
    position: relative;
    /* Make it the reference for the image position */
    overflow: hidden;
    /* Ensures the image stays within the container */
    border-radius: 20px;
}

#myphoto {
    position: absolute;       /* IMPORTANT FOR FIT AN IMAGE */
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#myphoto:hover {
    transform: scale(1.1);
}
.form_container{
    padding: 100px;
}

/* .form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
} */
#form_name{
    display: flex;
    height: 45px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border: none;
}
#form_email{
    display: flex;
    height: 45px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    padding: 10px;
}
#form_button {
    display: flex;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgb(88, 88, 88);
}
#form_button:hover{
    background-color: rgb(63, 63, 63);
}

/* Newsletter end */




/* footer start */
.footer_container {
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 5rem;
    margin-top: 5rem;
}

.footer_box {
    display: flex;
    max-width: 90%;
    margin: 0px auto;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.footer_right_box {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.quick_access {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stay_connected {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_left_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_image_box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#p1,
#p2 {
    font-size: small;
    color: rgb(111, 111, 111);
}

#fhome,
#fabout,
#fcontact,
#ftalktome {
    font-size: small;
    color: rgb(111, 111, 111);
}

#flegal1,
#flegal2,
#flegal3,
#flegal4 {
    font-size: small;
    color: rgb(111, 111, 111);
}


/* footer end */


/* Responsive start */

@media only screen and (max-width: 768px){    /* I pad */
    /* Navbar */

    /* content */
    .newsletter_container {
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
    }

    .form_container {
        width: 100%;
        padding: 1.5rem;
    }
 
    .image_container {
        width: 80%;
        height: auto;
    }  

    #form_name,
    #form_email
    {
        display: flex;
        width: 260px;
    }
    #form_button{
        justify-content: center;
        align-items: center;
        width: 260px;
    }
    .navbar_box{
        overflow: hidden;
    }
    #freelancing{
        text-align: start;
    }


    /* footer */
    .footer_box{
        flex-direction: column;
        justify-content: left;
        align-items: center;
        justify-content: center;

    }
    /* .footer_container {          
        padding: 3.5rem 1.3px;     /* padding(y axis x axis) */

    /* } */
  
    .footer_right_box{
        flex-direction: column;
        gap: 35px;
    }
    .footer_box{
        gap: 35px;
    }
    .quick_access, .stay_connected, .legal{
        align-items: center;
        justify-content: center;
    }
    .footer_left_box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_left_box, #p1, #p2{
        text-align:center;
    }

}

@media only screen and (max-width: 480px){   /* Mobile*/

}
/* Responsive end */